<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinghe.web.mapper.SchoolMapper">

    <resultMap type="School" id="SchoolResult">
        <result property="id"    column="id"    />
        <result property="schoolCode"    column="school_code"    />
        <result property="schoolName"    column="school_name"    />
        <result property="address"    column="address"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="createBy"    column="create_by"    />
        <result property="createByName"    column="create_by_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

</mapper> 