<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinghe.web.mapper.TeacherMapper">

<!--    <resultMap type="Teacher" id="TeacherResult">-->
<!--        <result property="id"    column="id"    />-->
<!--        <result property="account"    column="account"    />-->
<!--        <result property="teacherName"    column="teacher_name"    />-->
<!--        <result property="gender"    column="gender"    />-->
<!--        <result property="level"    column="level"    />-->
<!--        <result property="degree"    column="degree"    />-->
<!--        <result property="createTime"    column="create_time"    />-->
<!--    </resultMap>-->

</mapper>
