<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinghe.web.mapper.InnoProjectFundExpenseMapper">
    
    <select id="getTableList" resultType="com.xinghe.web.domain.InnoProjectFundExpense">
        SELECT e.*, p.project_name 
        FROM inno_project_fund_expense e
        LEFT JOIN inno_project p ON e.project_id = p.id
        <where>
            <if test="dto.projectId != null">
                AND e.project_id = #{dto.projectId}
            </if>
            <if test="dto.budgetId != null">
                AND e.budget_id = #{dto.budgetId}
            </if>
            <if test="dto.expenseType != null and dto.expenseType != ''">
                AND e.expense_type = #{dto.expenseType}
            </if>
            <if test="dto.status != null and dto.status != ''">
                AND e.status = #{dto.status}
            </if>
            <if test="dto.projectName != null and dto.projectName != ''">
                AND p.project_name like concat('%', #{dto.projectName}, '%')
            </if>
        </where>
        ORDER BY e.create_time DESC
    </select>
    
</mapper> 